ion-header {
    background: var(--ion-color-light);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ion-list{
        background: var(--ion-color-primary);
        border-radius: 0 0 20px 20px;
        padding-bottom: 7vh;
        ion-item{ 
            ion-label {
                font-weight: bold;
                font-size: 1.2rem;
                letter-spacing: 0.5px;
            }
        ion-avatar{
            background: white;
        }
        }
    }
    .popover {
        margin: auto 5%;
        ion-searchbar {
            --border-radius: 20px;
            margin-top: -30px;
            color: rgb(37, 31, 31);
        }
    }
}

ion-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}