ion-header {
    --background: var(--ion-color-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ion-list{
        background: var(--ion-color-primary);
        border-radius: 0 0 20px 20px;
        padding-bottom: 3vh;
        ion-item{ 
            ion-label {
                font-weight: bold;
                letter-spacing: 0.5px;
            }
        ion-avatar{
            background: white;
        }
        }
    }
    .popover {
        margin: auto 5%;
        ion-searchbar {
            --border-radius: 20px;
            --box-shadow: 2px 2px 1px 1px gray;
            --border: 1px solid;
            margin-top: -30px;
            --color: rgb(37, 31, 31);
            --icon-color: rgb(37, 31, 31);
        }
    }
}

ion-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --background:var(--ion-color-light);
    .title {
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--ion-color-dark);
    }
    ion-slides {
        ion-card {
            height: 30vx;
            width: 100%;
            border-radius: 30px;
            ion-card-header {
                img {
                    height: 100px;
                } 
            }
            ion-card-content {
                ion-label{
                    font-weight: bold;
                    font-size: 1rem;
                    color: var(--ion-color-dark);
                }
            }
        }
        .featured {
            height: 40vh;
            ion-card-header {
                padding: 0;
                img {
                    height: 30vh;
                }
            }
        }
    }
}
