ion-header {
    --background: var(--ion-color-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ion-toolbar {
        ion-list{
            --background: var(--ion-color-primary);
            color: white;
        }
    }
}

ion-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --background:var(--ion-color-light);
    .title {
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--ion-color-dark);
    }
    ion-slides {
        ion-card {
            height: 30vx;
            width: 100%;
            border-radius: 30px;
            ion-card-header {
                img {
                    height: 100px;
                } 
            }
            ion-card-content {
                ion-label{
                    font-weight: bold;
                    font-size: 1rem;
                    color: var(--ion-color-dark);
                }
            }
        }
        .featured {
            height: 40vh;
            ion-card-header {
                padding: 0;
                img {
                    height: 30vh;
                }
            }
        }
    }
}
