<ion-content [fullscreen]="true">
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-list class="ion-margin">
      <ion-list-header><ion-img src="assets/images/logo.png"></ion-img></ion-list-header>
      <ion-text><p>Find your dream pet here</p></ion-text>
      <ion-item color="transparent">
        <ion-label position="floating">Email</ion-label><ion-input></ion-input>
      </ion-item>
      <ion-item color="transparent">
        <ion-label position="floating">Password</ion-label><ion-input></ion-input>
      </ion-item>
      <ion-button expand="block" shape="round" color="tertiary">Login</ion-button>
      <ion-button expand="block" shape="round" color="tertiary">Register</ion-button>
    </ion-list>
  </div>
</ion-content>
