<ion-content [fullscreen]="true">
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-list class="ion-margin">
      <ion-list-header><ion-img src="assets/images/logo.png"></ion-img></ion-list-header>
      <ion-text><p>Find your dream pet here</p></ion-text>
      <ion-item color="transparent" lines="none">
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item color="transparent" lines="none">
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-button expand="block" fill="outline" shape="round" color="primary" (click)="home()">Login</ion-button>
      <ion-button expand="block" fill="outline" shape="round" color="primary" (click)="userRegister()">Register</ion-button>
    </ion-list>
  </div>
</ion-content>
