ion-content {
    ion-item.head {
        p {
            font-size: small;
        }
    }
    form {
        ion-item {
            padding: 10px;
            div {
                p {
                    color: red;
                    font-size: x-small;
                    text-align: start;
                }
            }
        }
    }
}