ion-content {
    ion-item {
        padding: 10px;
        p {
            font-size: small;
        }
    }
    form {
        div {
            p {
                color: red;
                font-size: x-small;
                text-align: start;
            }
        }
    }
}