<form [formGroup]="ListingForm">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Upload Image</ion-label>
      <ion-input type="file" accept="image/*"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input type="text" placeholder="Enter name" required pattern="^(?![\s.]+$)[a-zA-Z\s.]*$" formControlName="name" [(ngModel)]="namefromuser"></ion-input>
      <p *ngIf="ListingForm.get('name').hasError('required') && ListingForm.get('name').touched">
        Name is required
      </p>
      <p *ngIf="ListingForm.get('name').hasError('pattern')">
        Name is invalid
      </p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Breed</ion-label>
      <ion-input type="text" placeholder="Enter breed" required pattern="^(?![\s.]+$)[a-zA-Z\s.]*$" formControlName="breed" [(ngModel)]="breedfromuser"></ion-input>
      <p *ngIf="ListingForm.get('breed').hasError('required') && ListingForm.get('breed').touched">
        Breed is required
      </p>
      <p *ngIf="ListingForm.get('breed').hasError('pattern')">
        Breed is invalid
      </p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Gender</ion-label>
      <ion-select interface="alert" placeholder="Select Gender" required formControlName="gender" [(ngModel)]="genderfromuser">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
      <p *ngIf="ListingForm.get('gender').hasError('required') && ListingForm.get('gender').touched">
        Gender is required
      </p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Age</ion-label>
      <ion-input type="number" placeholder="Enter age" required formControlName="age" [(ngModel)]="agefromuser"></ion-input>
      <p *ngIf="ListingForm.get('age').hasError('required') && ListingForm.get('age').touched">
        Age shouldn't be empty
      </p>
      <p *ngIf="ListingForm.get('age').hasError('min')">
        Age must be min value of 0
      </p>
      <p *ngIf="ListingForm.get('age').hasError('max')">
        Age must be max value of 30
      </p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Size</ion-label>
      <ion-select interface="alert" placeholder="Select size" formControlName="size" [(ngModel)]="sizefromuser">
        <ion-select-option value="small">Small</ion-select-option>
        <ion-select-option value="medium">Medium</ion-select-option>
        <ion-select-option value="large">Large</ion-select-option>
      </ion-select>
      <p *ngIf="ListingForm.get('size').hasError('required') && ListingForm.get('size').touched">
        Size is required
      </p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Location</ion-label>
      <ion-input type="text" placeholder="Enter location" required formControlName="location" [(ngModel)]="locationfromuser"></ion-input>
      <p *ngIf="ListingForm.get('location').hasError('required') && ListingForm.get('location').touched">
        Location shouldn't be empty
      </p>
      <p *ngIf="ListingForm.get('location').hasError('minlength')">
        Location must be min 3 characters long
      </p>
      <p *ngIf="ListingForm.get('location').hasError('maxlength')">
        Location must be max 50 characters long
      </p>
    </ion-item>
  </ion-list>
</form>