ion-content {
    --ion-background-color: #eedcc8;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  ion-list {
    background: transparent;
    color: black;

    ion-text {
      font-size: small;
    }
  
    ion-item {
      border: none;
      background-color: #fef9ea;
      margin-bottom: 10px;
      border-radius: 20px;
    }
    div {
      p {
        color: red;
        font-size: x-small;
        text-align: start;
      }
    }
  
    ion-icon {
        color: #5a3527;
    }

    ion-input {
        color: #5a3527;
    }

    ion-button {
      text-transform: none;
      margin: 10px;
      
    }
  
  }